version: "3.9"
services:
  nginx-proxy:
    image: jwilder/nginx-proxy:latest
    container_name: nginx-proxy
    ports:
      - "80:80"
      - "443:443"
    environment:
      # HTTPS有効化（デフォルトで 443 listen します）
      SSL_POLICY: Mozilla-Modern
      # 上流に X-Forwarded-* を付与
      ENABLE_IPV6: "false"
    volumes:
      # Dockerイベントを拾って自動で仮想ホスト設定を生成
      - /var/run/docker.sock:/tmp/docker.sock:ro
      # 俺俺証明書置き場（ホスト側で mkcert で作った場所）
      - ./certs:/etc/nginx/certs:ro
      # 永続化したnginx設定やdhparame
      - ./nginx/conf.d:/etc/nginx/conf.d
      - ./nginx/vhost.d:/etc/nginx/vhost.d
      - ./nginx/html:/usr/share/nginx/html
    networks:
      - proxy-net

    restart: always


networks:
  proxy-net:
    name: proxy-net
    driver: bridge
